html {
  scroll-behavior: smooth;
}
body{
  /*background: -webkit-linear-gradient(90deg, rgba(255,255,255,1) 0, rgba(255,255,255,1) 1%, #6ba7db 100%);
  background: -moz-linear-gradient(0deg, rgba(255,255,255,1) 0, rgba(255,255,255,1) 1%, #6ba7db 100%);
  background: linear-gradient(0deg, rgba(255,255,255,1) 0, rgba(255,255,255,1) 1%, #6ba7db 100%); */
  background-position: 50% 50%;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: auto auto;
  background-size: auto auto;
}
a{
  text-decoration: none !important;
}
/*
.parallax{
  background-image: url("../image/ganadores_blur.jpg");
  height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -60px;
  border-bottom: 10px solid #00307f;
}
*/
@media (max-width: 768px) {
  .parallax{
    margin-top: inherit;
  }
}
.fix_header{
  margin-top: 100px;
  margin-bottom: 50px;
}

.bg-transparent{
  background-color: transparent !important;
}
.pdf_icon{
  text-align: center;
}
.pdf_icon i{
  font-size: 60px;
padding: 15px 10px 10px 10px;
}
.form-group label small i{
  color:green;
}
.custom-file{
  width: 60%;
}
.logo_puertomontt{
    width: 20%;
}
.navbar-brand small{
  display: flex;
font-size: 13px;

}

.error_card,.success_card{
  border: transparent;
}
.error_card .card-header, .success_card .card-header{
  padding: 3rem;
}
.error_card .card-header i, .success_card .card-header i{
  font-size: 10rem;
  color:white;
}

.card_container{
  width: 90%;
  border:none;
}
.card_container .card-header{
  font-size: 1.2em;
}


.logo_lukas{
  padding-top: 200px;
}
span.line_1{
  font-weight: bold;
  text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
  color: #5e94c5;
  font-size: 35px;
  line-height: 80px;
}
span.line_2{
  font-family: 'Lobster', cursive;
  text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
  color: #00307f;
  font-size: 60px;
  line-height: 30px;
}
span.line_3{
  text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
  color: #00307f;
  font-weight: bold;
  font-size: 60px;
  line-height: 60px;
}span.line_4{
  color: white;
font-weight: bold;
font-size: 24px;
}
.line_separator{
  border-top: 5px solid #5e94c5;
}
.logo{
  max-width:330px;
  height: 100%;
}
.lukitas_footer{
  width: 300px;
position: absolute;
right: 0;
margin-top: -250px;
}

.container_sponsors{
  background-color: rgba(255, 255, 255, 0.3);
  padding: 2rem;

}
.container_sponsors img{
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
-moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
-o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
}
.container_sponsors img:hover{
  -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
-moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
-o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
}
.container_sponsors .row .col-md-2, .container_sponsors .row .col-md-3{
  text-align: center;
}
.form-group .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}
.form-group input{
  padding-left: 40px;
}
.btn-xlg{
  font-size:1.8em;
  margin-top: 40px;
  padding: 5px 20px 5px 20px;
}

.icon_file{
  text-align: center;
  font-size: 5em;
  /* background: lightgray; */
  color: #007bff;
}
.card_file{
  border-bottom: 7px solid #007bff;
}
.card_file_disable{
  border-bottom: 7px solid lightgrey;
}
.option_card{
  margin-left: 0 !important;
  margin-right: 0 !important;
  margin-bottom: 0 !important;
}
.aviso{
  position: absolute;
background: red;
color: white;
padding: 5px 80px 5px 80px;
transform: rotate(-45deg);
top: 100px;
left: -80px;
}

.success_card .card-body .card-title{
  font-weight: bold;
  font-size: 2.5em;
  color:#28a745;
}
.error_card .card-body .card-title{
  font-weight: bold;
  font-size: 2.5em;
  color:#dc3545;
}


/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {

}

/* Small devices (landscape phones, less than 768px)  */
@media (max-width: 767.98px) {
  img.logo{
    display: none;
  }
  .lukitas_footer{
    display: none;
  }
  .container_sponsors .row .col-md-2 img{
  margin-bottom: 30px;
  max-width: 9em;
  }
  .container_sponsors .row .col-md-3 img{
    max-width: 11em;
    margin-bottom: 30px;
  }
  .card_container{
    width: inherit;
  }
  .icon_file{
       padding: 0.5em 0 0.2em 0;
  }
  .registro_card{
    margin-bottom: 10px;
  }
}

/* Medium devices (tablets, less than 992px)  */
@media (max-width: 991.98px) {
  .parallax{
    margin-top:inherit;
  }
  .lukitas_footer{
    max-width: 16em;
  }
    .aviso{
      display: none;
  }
  .navbar{
    z-index: 1;
  }
}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
  .navbar-expand-lg{
    background: #202020 !important;
  }
}

.time_info{
  color: white;
padding: 30px 0 30px 0;
font-size: 30px;
text-transform: uppercase;
}


/* slider */
#slider_header{

}
.slider_item{
  width: 100%;
  height: 600px;
  background-color: transparent;
}

.back{
  background-image: url("../image/ganadores_blur.jpg");
  height: 600px;
  background-attachment: fixed;
  background-position: 50% 30%;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  z-index: -1;
  width: 100%;
}
.inn_back{
  background-image: url("../image/innovacion_image.jpg");
}
.icon_center{
  color: #fff;
}
.icon_background{
    color: #343a40;
}

.fa-stack{
  display: inline-table;

}

.seleccion h1{
  color: white;
  font-weight: bold;
  font-size: 3.5em;
}

.slider_item .row{
  width: 70%;
  padding-top: 100px;
}

.btn_delete{

}
.btn_delete:hover{
  cursor: pointer;
  color: #d9534f !important;
}
.fa-stack-1x{
  font-size: 2.5rem;
}
