html,
body {
  height: 100%;
}
.fix_header{
  margin-top: 50px;
  margin-bottom: 50px;
}
.admin_container{
  margin-top: 40px;
  padding: 0 50px 0 50px;
  margin-bottom: 40px;
}
#users_table thead tr th{
 padding: 1rem 1.5rem 1rem 0.5rem;
}
#users_table tbody tr td {
  padding: 0.5rem;
}
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}

.btn_db{
  margin-left: 10px;
  display: inline-table;
}
.custom-control{
  margin-bottom: 0.5rem;
}
.icon_existe{
  font-size: 24px;
  color:green;
}
.icon_noexiste{
  font-size: 24px;
  color:red;
}
.disabled{
  pointer-events: none;
}

em{
  font-size: 12px;
}

/* custom icon in checkbox */
.sub_card .card-body .form-row .form-group .custom-control-input:checked ~ .custom-control-label::before, .sub_card .card-body .custom-control-input:checked ~ .custom-control-label::before{
  border-color: red !important;
background-color: red !important;
}
.sub_card .card-body .form-row .form-group .custom-checkbox .custom-control-input:checked ~ .custom-control-label::after, .sub_card .card-body .custom-checkbox .custom-control-input:checked ~ .custom-control-label::after{
  color: white;
  background-image: url("../../image/times-solid.svg");
  filter: invert(100%);
  width: 23px;
  height: 23px;
  margin: -3px 0 0 -3px;
}


@media (max-width: 991.98px) {
  .admin_container{
     padding: 0;
  }
}

.table_notes th, .table_notes td{
  padding: 0.5rem;
}
#db_modal .modal-lg{
  max-width: 1000px !important;
}
.container_table_notas{
  width: 100%;
  height: 500px;
  font-size: 12px;
  overflow: scroll;
  padding: 10px;
  border: 3px solid black;
}



/* Toggle Styles */

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #343a40;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    /*padding: 15px;*/
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    /*text-indent: 20px;*/
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        /*padding: 20px;*/
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

#user_image{
  background-color: #bdbdbd;
font-size: 30px;
border-radius: 50%;
padding: 13px;
color: #6c6c6c;
}

.date_config_wrapper{
  text-align: left;
}

.date_config_wrapper li a{
  text-indent: 10px;

}
table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > td:first-child::before, table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > th:first-child::before{
  top: 25px !important;

left: -26px !important;
}
